html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

header {
  width: 100%;
  background-color: rgba(240, 120, 16, 1);
  overflow: auto;
}

#head-Nav {
  color: white;
  height: 100%;
  text-align: center;
}

#head-Nav ul,
#head-Nav li,
#head-Nav h1,
footer .socialIcons li {
  display: inline-block;
}

#head-Nav ul {
  display: none;
}

#logo,
#hamburger {
  font-size: 30px;
  padding: 10px;
}

.socialIcons {
  color: white;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.carousel-Container {
  width: 100%;
  background-size: cover;
  color: white;
  display: inline-flex;
  padding: 50px 0 50px 0;
}
.arrow {
  color: rgba(245, 244, 232, 0.7);
  width: 10%;
  text-align: center;
  font-size: 40px;
  height: 10%;

  align-self: center;
}

.left-Arrow {
  left: 0;
  padding: 10px;
}

.right-Arrow {
  right: 0;
  padding: 10px;
}
.carousel-Content {
  display: none;
  width: 80%;
}
#carousel-Content-One,
#carousel-Content-Two,
#carousel-Content-Three {
  font-size: 30px;
  text-align: center;
}
#carousel-Content-One h1,
#carousel-Content-Two h1,
#carousel-Content-Three h1 {
  width: 100%;
  padding: 40px 0 40px 0;
  border: 2px solid white;
}
#carousel-Content-Three h1 {
  background-color: rgba(45, 45, 45, 0.6);
}

#card-Section {
  background-color: rgba(57, 62, 70, 0.3);
  padding: 40px 0 40px 0;
}

.card {
  text-align: center;
  padding: 40px 0 60px 0;
  width: 90%;
  margin-left: 5%;
  background-color: rgba(234, 227, 227, 1);
}

.card:nth-child(n + 2) {
  padding: 40px 0 60px 0;
  width: 90%;
  margin: 75px 0 50px 5%;
}

.card i {
  font-size: 100px;
  color: rgba(240, 120, 16, 1);
}

.card h2 {
  font-size: 40px;
  padding: 20px;
}

.card p {
  font-size: 15px;
  padding: 10px;
}

.card-Button {
  padding: 10px;
  background-color: rgba(80, 193, 233, 1);
  color: white;
  font-size: 25px;
  width: 30%;
  margin: 40px 0 0 28%;
  position: absolute;
}

footer {
  background-color: rgba(240, 120, 16, 1);
}

footer .socialIcons {
  padding: 30px;
  font-size: 30px;
}

footer {
  text-align: center;
  color: white;
  padding: 20px 0 20px 0;
}

footer h3 {
  font-size: 25px;
  text-decoration: underline;
}

#address-Info li {
  padding: 10px;
  font-size: 15px;
}

#nav-Footer {
  width: 100%;
  text-align: center;
  background-color: rgba(57, 62, 70, 0.3);
  padding: 25px 0 25px 0;
}
